@import 'src/fonts/fonts.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.header {
  font-family: $font-family-primary;
}

.text,
.button {
  font-family: $font-family-secondary;
}

.card_header {
  font-family: $font-family-primary;
}
