@import 'src/styles/variables.scss';

.weak,
.medium,
.strong {
  margin: 0;
  margin-top: 2px;
  position: relative;
  color: $red;
  &::before {
    content: '';
    position: absolute;
    height: 2px;
    top: -2px;
  }
  animation: appearAnimation 500ms ease forwards;
  opacity: 0;
}

.weak::before {
  background-color: $red;
  width: 20%;
}

.medium::before {
  background-color: $yellow;
  width: 40%;
}

.strong::before {
  background-color: $green;
  width: 70%;
}

@keyframes appearAnimation {
  to {
    opacity: 1;
  }
}
