.weak,
.medium,
.strong {
  margin: 0;
  margin-top: 2px;
  position: relative;
  color: rgba(255, 0, 0, 0.579);
  &::before {
    content: '';
    position: absolute;
    height: 2px;
    top: -2px;
  }
  animation: appearAnimation 500ms ease forwards;
  opacity: 0;
}

@keyframes appearAnimation {
  to {
    opacity: 1;
  }
}

.weak::before {
  background-color: rgba(255, 0, 0, 0.579);
  width: 20%;
}

.medium::before {
  background-color: rgb(228, 228, 19);
  width: 40%;
}

.strong::before {
  background-color: greenyellow;
  width: 70%;
}
