.container {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  width: 320px;
  margin: 0 auto;
  div {
    position: fixed;
  }
}

@media (max-width: 560px) {
  .container {
    width: 100%;
    padding-bottom: 50px;
    div {
      position: relative;
    }
  }
}
