@import './mixins';

@include _560M {
  .container {
    width: 100%;
    padding-bottom: 50px;
    div {
      position: relative;
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
}
