@import 'src/variables.scss';

.container {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
  gap: 10px;
  padding: 50px 6px 100px 6px;
  background-color: $grey;
  border-radius: 6px;
}
