@import 'src/styles/variables.scss';

.card {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: $white;
  border: 1px solid $grey;
  border-radius: 6px;
  box-shadow: $black-shadow;
  cursor: pointer;

  &:hover {
    scale: 1.01;
    border-color: $black;
  }
}

.cardText {
  font-size: 14px;
}

.cardImage {
  object-fit: contain;
}
