@import 'src/fonts/fonts.scss';

.card {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 6px;
  padding: 5px;
  box-shadow: hsl(206 22% 7% / 35%) 0 0 38px -10px;
  text-align: center;
  cursor: pointer;
  &:hover {
    scale: 1.01;
  }
}

.card_header {
  font-family: $font-family-primary;
}

.card_description {
  font-family: $font-family-secondary;
  font-size: 14px;
}

.card_image {
  height: 300px;
}
