.spinner {
  width: 60px;
  height: 60px;
  animation: spinnerAnimation 0.75s infinite linear;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

@keyframes spinnerAnimation {
  100% {
    transform: rotate(360deg);
  }
}
