@import 'src/styles/variables.scss';

body {
  margin: 0;
  font-family: $font-family-primary;
  min-height: 100vh;
}

button {
  font-family: $font-family-primary;
}

input,
select,
p {
  font-family: $font-family-secondary;
}
