@import 'src/styles/variables.scss';

@import 'src/components/card/Card.module.scss';

.detailedCard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  padding: 20px;
  margin-right: 20px;
  background-color: $white;
  grid-column-start: 2;
}

.closeButton {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.container {
  display: grid;
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  grid-template-columns: 2fr 1fr;
  background-color: $transparent-black;
  align-items: center;
  overflow: hidden; // не работает, знаю механизм, что на body overflow-hidden вешают с модалками
}
