@import 'src/fonts/fonts.scss';

.container {
  width: 320px;
  margin: 0 auto;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.button,
.input {
  padding: 7px 10px;
}

.button {
  font-family: $font-family-primary;
}

.input {
  font-family: $font-family-secondary;
}
